policy_module(quantum, 1.100.1)

########################################
#
# Declarations
#

type quantum_t;
type quantum_exec_t;
init_daemon_domain(quantum_t, quantum_exec_t)

permissive quantum_t;

type quantum_initrc_exec_t;
init_script_file(quantum_initrc_exec_t)

type quantum_conf_t;
files_type(quantum_conf_t)

type quantum_var_lib_t;
files_type(quantum_var_lib_t)

type quantum_var_run_t;
files_type(quantum_var_run_t)

type quantum_port_t;
corenet_port(quantum_port_t)

########################################
#
# quantum local policy
#
allow quantum_t self:process { fork };

allow quantum_t self:fifo_file rw_fifo_file_perms;
allow quantum_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(quantum_t, quantum_conf_t, quantum_conf_t)
manage_files_pattern(quantum_t, quantum_conf_t, quantum_conf_t)

manage_dirs_pattern(quantum_t, quantum_var_lib_t, quantum_var_lib_t)
manage_files_pattern(quantum_t, quantum_var_lib_t, quantum_var_lib_t)
files_var_lib_filetrans(quantum_t, quantum_var_lib_t, { dir file })

manage_dirs_pattern(quantum_t, quantum_var_run_t, quantum_var_run_t)
manage_files_pattern(quantum_t, quantum_var_run_t, quantum_var_run_t)

sysnet_dns_name_resolve(quantum_t)
corenet_all_recvfrom_unlabeled(quantum_t)

allow quantum_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(quantum_t)
corenet_tcp_sendrecv_generic_node(quantum_t)
corenet_tcp_sendrecv_all_ports(quantum_t)
corenet_tcp_bind_generic_node(quantum_t)

gen_require(`
    type quantum_port_t;
')
allow quantum_t quantum_port_t:tcp_socket name_bind;

gen_require(`
    type quantum_port_t;
')
allow quantum_t quantum_port_t:tcp_socket name_connect;

domain_use_interactive_fds(quantum_t)

files_read_etc_files(quantum_t)

miscfiles_read_localization(quantum_t)

sysnet_dns_name_resolve(quantum_t)

allow quantum_t quantum_exec_t:file execute_no_trans;
allow quantum_t self:process setsched;
corecmd_exec_ls(quantum_t)
corenet_tcp_connect_http_port(quantum_t)
dev_read_urand(quantum_t)
fs_getattr_xattr_fs(quantum_t)
kernel_read_system_state(quantum_t)
